<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Color</title>
</head>
<body>
<check if="{{ isset(@errors['color'])}}">
    <p>{{ @errors['color'] }}</p>
</check>

<form method="post" action="summary" >
    <h1> Color</h1>
    <ul>
        <label>Color</label>
        <select name="color">
            <option>--Select a color--</option>
            <repeat group="{{@colors}}" value="{{@color}}">
                <option>{{@color}}</option>
            </repeat>
        </select>
        <input type="submit" value="Submit">
    </ul>


</form>
</body>
</html>
